<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
		<meta name="viewport" content="initial-scale=1.0, width=device-width" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" 
              sizes="16x16" 
              type="image/x-icon" 
              href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
            <link rel="stylesheet"
                  href="{{ asset('bundles/mdsrstudio/css/reset.css') }}" />
            <link rel="stylesheet"
                  href="{{ asset('bundles/mdsrstudio/css/default.css') }}" />
        {% endblock %}
    </head>
    <body>
        <div id="main-container">{% block body %}{% endblock %}</div>

        {% block javascripts %}{% endblock %}
    </body>
</html>
