 {% extends "mdsrStudioBundle::layout.html.twig" %}

{% block content %}
    <h1>Hola</h1>

    <img src="bundles/mdsrstudio/images/me_myself.png"
     alt="Mauricio Del Solar image"
     title="Hi, my name is Mauricio Del Solar">
    
    <article class="hello-column">
        <p>
            Mi nombre es <em>Mauricio</em> y, si todavía no me conoces, 
            soy un ingeniero en informática con base en <em>Pontevedra</em>, 
            España.
        </p>
        
        <p>
            Actualmente trabajo como <em>programador</em>, <em>formador</em> 
            y <em>consultor</em>, y como siempre me ha interesado la forma 
            en la que las personas interactúan con la tecnología, en todos 
            mis trabajos intento que esa interacción sea lo más simple y 
            rápida posible. De esta forma intento crear aplicaciones 
            sencillas y fáciles de usar.
        </p>
    </article>

    <article class="hello-column">
        <p>
            Por otro lado, hace ya un par de años, me surgió la posibilidad 
            de formar a nuevos programadores, tanto en el campo del 
            desarrollo de <em>aplicaciones web</em> como de 
            <em>aplicaciones móviles iOS</em>. 
        </p>

        <p>
            Esta nueva experiencia, además de gratificante, me ha ayudado a 
            comprender mejor mi trabajo como desarrollador, adquiriendo 
            nuevos conocimientos y consolidando los que ya poseía.
        </p>
        
        <p>
            Si todavía no lo has hecho, pásate por la sección 
            <em>trabajos</em> o <em>formación</em> para ver de lo que te 
            estoy hablando.
        </p>

        <p>Estaré encantado de trabajar contigo.</p>
    </article>
{% endblock %}